@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: rgba(0,0,0,0);
  z-index: 12;
  overflow: visible;
}
::-webkit-scrollbar-thumb {
width: 10px;
background-color: #fc0882;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0,0,0,0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

::-webkit-scrollbar-track {
  background-color: white;
}
.contenedor {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: auto;
  height: 100px;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 1;
  font-size: 0.9em;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.contenedor-menu{
  align-items: center;
  width: 90%;
  margin: auto;
  display: flex;
}
ul,
ol {
  list-style: none;
}

.menu > li {
  float: left;
}

.menu li a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  display: block;
  font-size: 14px;
}

.menu li a:hover {
  background-color: #F93EA5;
  color: white;
  border-radius: 5px;
}

.menu li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.menu li:hover > ul {
  display: block;
}

.menu li ul li {
  position: relative;
}

.menu li ul li ul {
  right: -140px;
  top: 0px;
}

.icono-carrito img {
  object-fit: contain;
}
.logo{
  width: 20%;
}
.logo img {
  width: 100%;
  height: 100%;
}


  .offcanvas{
    position: fixed;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    display: none;
    max-width: 100%;
    color:black;
    background-color: white;
    box-shadow: 10px 10px 5px 0 #807680;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
    overflow: hidden;
  }
  .offcanvas.offcanvas-end {
    top: 10%;
    right: 8%;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);}
  
  .offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
  }
  .offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
    visibility: visible;
  }
  
  .producto-carrito {
      padding-bottom: 1em;
  }
  .encabezado-carrito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }
  .encabezado-carrito button{
    border: none;
    background: none;
    padding: 1rem;
  }
  .encabezado-carrito h2{
    font-size: 1.5em;
    font-weight: normal;
    padding: 0 1em;
  }
  
  .contenedor-carrito{
      flex-grow: 1;
      padding: 1em;
      overflow-y: auto;
  }
  .boton{
    padding: 8px 16px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    background-color: #F93EA5;
    color: white;
    border: none;
    text-decoration: none;
  }
  #cerrar{
    cursor: pointer;
  }

.comentarios{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.primera-fila, .segunda-fila, .tercera-fila{
    width: 30%;
}

.bi-chat-left-fill , .bi-chat-right-fill {
    width: 100%;
    height: 38vh;
    color: #F93EA5;

}

.bi-chat-left-fill{
    transform: rotateZ(-10deg);
}


.banner {
  background-image: url(../img/banner-comentarios.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: grid;
  grid-template-columns:0.5fr 1.5fr 2fr  ;
  grid-template-rows: 2fr 0.5fr 2fr;
}
.contenedor-banner{
  grid-column-start: 2;
  grid-row-start: 2;
}
.contenedor-banner h2 {
text-align: right;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 3em;
  margin-bottom: 5%;
}
#contenedor{
  margin-bottom: 3%;
}
.contenedor-banner p{
  font-family: "Roboto", sans-serif;
  text-align: right;
  font-size: 1.2em;
  line-height: 1.5;
}

.banner .boton{
  position: relative;
  top:70%;
  left: 0%;
  background-color: #DB95C8;
  text-align: left;
  grid-column-start:1 ;
  grid-column-end: 3;
  grid-row-start: 3;
  width: 40%;
  height: 30%;
  border: none;
}


.comentario , .comentario-fl2{
    width: 80%;
    height: 22vh;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5%;
    position: relative;
    bottom: 240px;
    left: 50px;
    background-color: white;
   
}
.comentarios{
  padding-top: 10%;
}
.comentario{
    transform: rotateZ(-10deg);
}

.primer-comentario, .segundo-comentario , .tercer-comentario{
    height: 50vh;
}
.comentario span, .comentario-fl2 span{
 font-weight: bold;
 display: inline-block;
 margin-bottom: 4%;
}
a{
    color: black;
}

 a:focus{
    color:#F93EA5
}

.segunda-fila{
    padding-top: 15%;
}

.comentario-fl2, .bi-chat-right-fill{
    transform: rotateZ(10deg);
}
.comentario-fl2{
    left: 10px;
}

.primer-comentario-fl2, .segundo-comentario-fl2 , .tecer-comentario-fl2{
    height: 50vh;
}

#footer{
 width: 100%;
background-color:#D9D9D9;
} 

.contenido{
  width: 15%;
}
.contenedor-footer {
  width: 90%;
  margin: auto;
  color: black;
  display: flex;
  padding: 3rem 0;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

 .servicio, .compras-velancy, .ayuda{
  width: 15%;
  text-align: left;
}
#footer a {
  line-height: 3.5;
  text-decoration: none;
  color: black;
  display: flex;
 
}
.subtitulo {
  text-align: center;
  margin: 4% 0;
  font-family: "Oswald", sans-serif;
  
}

.redes {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin: auto;
  width: 100%;
}
.redes img {
  margin-top: 1rem;
  width: 70%;
}

.logo2 img {
  width:70%;
  height:70%;
  display: flex;
  margin: auto;
}
  


/*---------------------------------------------------------------------------------RESPONSIVE 576PX-------------------------------------------------------------------*/


@media screen and (max-width:500px) {

  .menu-pq {
    display: flex;
  }
  nav {
    display: none;
  }
  #footer-mediano{
    display: none;
  }
 
  .menu-pq{
    width:100%;
    height:70px;
    display:flex;
    justify-content:space-between;
    padding:35px 5%;
    box-shadow: 0 4px 2px -2px gray;
  }  
  
  .menubtn{
    font-size:25px;
  }
  
  .menu-pq .logo{
    width:25% }

  .sideNav{
    height:100%;
    position:fixed;
    top:0;
    right:0%;
    background-color:white;
    overflow-x:hidden;
    width:0%;
    padding-top:60px;
    z-index:1;
    transition:0.3s ease-in;
  }
  .sideNav a {
    padding: 8px 8px 8px 40px;
    display:block;
    font-size:0.8em;
    color:black;
    text-decoration:none;
  }
 

  .sideNav .clodeBtn{
    position:absolute;
    top:25px;
    font-size:0.8em;
    margin-left:80px;
  }
  .offcanvas.offcanvas-end {
    top: 50%;
    right: 25%;
    box-shadow: 6px 0 28px -2px ;
    transform: translateX(100%);
    box-shadow: 10px 10px 5px 0 #807680;}

  .banner{
    height:300px;
    background-position: 130% 0%;
  }

  
  .banner h2 {
    font-size: 1.5em;
    margin-right: 5%;
  }

  .banner p{
    font-size: 0.7em;
    margin-right: 5%;
  }
.contenedor-comentarios{
  background-image: url(../img/patron.PNG);
  position: relative;
}

.contenedor-comentarios img{
width: 15%;
position:absolute;

}

.rotate{
  top: 50%;
  left: 15%;
  animation: rotation 2s linear;
}

@keyframes rotation {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(4deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-4deg);
  }
}
 


.rotate2{
  top: 20%;
  left: 60%;
  animation: rotation2 2s linear;
}

@keyframes rotation2 {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(6deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-6deg);
  }
}

.rotate3{
  top: 80%;
  left: 60%;
  animation: rotation3 2s linear;
}

@keyframes rotation3 {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(4deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-4deg);
  }
}



  .comentarios{
   padding-bottom: 4%;
    font-size: 0.7em;
   
  }

  .primera-fila, .segunda-fila{
    width: 50%;
    height: 600px;
    margin-bottom: 5%;
  }


  .tercera-fila{
    display:none;
  }

  .comentario {
    width: 90%;
    height: 100px;
    bottom:45%;
    left: 10%;
  }

  .comentario-fl2{
    width: 90%;
    height: 100px;
   top: 20%;
  margin-top: 30%;
    right: 10%;
  }

  .tecer-comentario-fl2{
    margin-top: 70%;
  
  }
  .primer-comentario, .tercer-comentario{
    height:400px;
  }

  .segundo-comentario{
    display: none;
  }
.segundo-comentario-fl2,.primer-comentario-fl2{
  display: none;
  }

  .comentarios p, .comentarios span{
    font-size: 0.8em;

  }

  .bi-chat-left-fill, .bi-chat-right-fill {
    width: 100%;
    height:180px;
    color: #F93EA5;
  }
  #footer{
    display: none;
  }
  
  #footer-pq {
    background-color: #D9D9D9;
    font-size: 0.7em;
  }
  
  
  .contenedor-footer-pq{
    padding: 10px 0;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
   
  }
  .accordion {
    display: flex;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 0.8em;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    background: none;
    text-decoration: none;
  }
  
  .panel {
    background-color:#D9D9D9;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size:0.8em;
  }
  .panel a {
    line-height: 2;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
    display: block;
  }
  .accordion:after {
    content: url("https://cdn.glitch.global/4573b126-8ae6-4f69-ab76-f66ec21d2080/flecha-correcta%20(1)%203.png?v=1686703348739"); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .redes-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
  }
  .redes-pq {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .redes-pq h4 {
    font-size: 0.8em;
    font-family: "Oswald", sans-serif;
  }
  .logo-pq,
  .redes-pq {
    width: 40%;
  }
  .logo-pq img {
    width: 50%;
  }
  .redes-pq img {
    width: 15%;
  }
 
}

@media (min-width: 501px) and (max-width:576px){

  .menu-pq {
    display: flex;
  }
  nav {
    display: none;
  }
  #footer-mediano{
    display: none;
  }
 
  .menu-pq{
    width:100%;
    height:70px;
    display:flex;
    justify-content:space-between;
    padding:35px 5%;
    box-shadow: 0 4px 2px -2px gray;
  }  
  
  .menubtn{
    font-size:25px;
  }
  
  .menu-pq .logo{
    width:25% }

  .sideNav{
    height:100%;
    position:fixed;
    top:0;
    right:0%;
    background-color:white;
    overflow-x:hidden;
    width:0%;
    padding-top:60px;
    z-index:1;
    transition:0.3s ease-in;
  }
  .sideNav .item-menu {
    padding: 8px 8px 8px 40px;
    display:block;
    font-size:0.8em;
    color:black;
    text-decoration:none;
  }

  .boton{
    padding: 8px 16px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    background-color: #F93EA5;
    color: white;
    border: none;
    font-size:1em;
  }

  .icono-carrito{
    padding: 8px 8px 8px 40px;
  }
 
 

  .sideNav .clodeBtn{
    position:absolute;
    top:25px;
    font-size:0.8em;
    text-decoration: none;
    margin-left:139px;
    color: black;
  }
  .offcanvas.offcanvas-end {
    top: 28%;
    right: 25%;
    box-shadow: 6px 0 28px -2px ;
    transform: translateX(100%);
    box-shadow: 10px 10px 5px 0 #807680;}

  .banner{
    height:350px;
    background-position: 130% 0%;
  }

  
  .banner h2 {
    font-size: 2em;
    margin-right: 10%;
  }

  .banner p{
    font-size: 0.8em;
    margin-right:10%;
  }
.contenedor-comentarios{
  background-image: url(../img/patron.PNG);
  position: relative;
}

.contenedor-comentarios img{
width: 15%;
position:absolute;

}

.rotate{
  top: 40%;
  left: 15%;
  animation: rotation 2s linear;
}

@keyframes rotation {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(4deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-4deg);
  }
}
 


.rotate2{
  top: 20%;
  left: 60%;
  animation: rotation2 2s linear;
}

@keyframes rotation2 {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(6deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-6deg);
  }
}

.rotate3{
  top: 80%;
  left: 60%;
  animation: rotation3 2s linear;
}

@keyframes rotation3 {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(4deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-4deg);
  }
}



  .comentarios{
   padding-bottom: 4%;
    font-size: 0.8em;
   
  }

  .primera-fila, .segunda-fila{
    width: 50%;
    height: 600px;
    margin-bottom: 5%;
  }


  .tercera-fila{
    display:none;
  }

  .comentario {
    width: 70%;
    height: 120px;
    bottom:52%;
    left: 18%;
  }

  .comentario-fl2{
    width: 70%;
    height: 120px;
  margin-top: 27%;
    right: 0;
    left: 13%;
  }

  .tecer-comentario-fl2{
    margin-top: 70%;
  
  }
  .primer-comentario, .tercer-comentario{
    height:343px;
  }

  .segundo-comentario{
    display: none;
  }
.segundo-comentario-fl2,.primer-comentario-fl2{
  display: none;
  }

  .comentarios p, .comentarios span{
    font-size: 0.8em;

  }

  .bi-chat-left-fill, .bi-chat-right-fill {
    width: 100%;
    height:180px;
    color: #F93EA5;
  }
  #footer{
    display: none;
  }
  
  #footer-pq {
    background-color: #D9D9D9;
  }
  
  
  .contenedor-footer-pq{
    padding: 10px 0;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
   
  }
  .accordion {
    display: flex;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 0.8em;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    background: none;
    text-decoration: none;
  }
  
  .panel {
    background-color:#D9D9D9;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size:0.8em;
  }
  .panel a {
    line-height: 2;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
    display: block;
  }
  .accordion:after {
    content: url("https://cdn.glitch.global/4573b126-8ae6-4f69-ab76-f66ec21d2080/flecha-correcta%20(1)%203.png?v=1686703348739"); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .redes-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
  }
  .redes-pq {
    display: flex;
    align-items: center;
  }
  .redes-pq h4 {
    font-size: 0.8em;
    font-family: "Oswald", sans-serif;
    width: 50%;
  }
  .logo-pq,
  .redes-pq {
    width: 40%;
  }
  .logo-pq img {
    width: 50%;
  }
  .redes-pq img {
    width: 70%;
  }
  .redes-pq a{
    display: flex;
    justify-content: end;
  }

 
}


@media (min-width: 577px) and (max-width:990px){


  .menu-pq {
    display: flex;
  }
  nav {
    display: none;
  }
  #footer-mediano{
    display: none;
  }
 
  .menu-pq{
    width:100%;
    height:70px;
    display:flex;
    justify-content:space-between;
    padding:35px 5%;
    box-shadow: 0 4px 2px -2px gray;
  }  
  
  .menubtn{
    font-size:25px;
  }
  
  .menu-pq .logo{
    width:25% }

  .sideNav{
    height:100%;
    position:fixed;
    top:0;
    right:0%;
    background-color:white;
    overflow-x:hidden;
    width:0%;
    padding-top:60px;
    z-index:1;
    transition:0.3s ease-in;
  }
  .sideNav a {
    padding: 8px 8px 8px 40px;
    display:block;
    font-size:0.8em;
    color:black;
    text-decoration:none;
  }
 

  .sideNav .clodeBtn{
    position:absolute;
    top:25px;
    font-size:0.8em;
    margin-left:80px;
  }
  .offcanvas.offcanvas-end {
    top: 50%;
    right: 25%;
    box-shadow: 6px 0 28px -2px ;
    transform: translateX(100%);
    box-shadow: 10px 10px 5px 0 #807680;}

  .banner{
    height:450px;
    background-position:right;
  }

  
  .banner h2 {
    font-size: 2.1em;
    margin-right: 5%;
  }

  .banner p{
    font-size: 0.9em;
    margin-right: 5%;
  }
.contenedor-comentarios{
  background-image: url(../img/patron.PNG);
  position: relative;
}

.contenedor-comentarios img{
width: 10%;
position:absolute;

}

.rotate{
  top: 55%;
  left: 15%;
  animation: rotation 2s linear;
}

@keyframes rotation {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(4deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-4deg);
  }
}
 


.rotate2{
  top: 40%;
  left: 60%;
  animation: rotation2 2s linear;
}

@keyframes rotation2 {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(6deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-6deg);
  }
}

.rotate3{
  top: 90%;
  left: 60%;
  animation: rotation3 2s linear;
}

@keyframes rotation3 {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(4deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-4deg);
  }
}



  .comentarios{
   padding-bottom: 4%;
    font-size: 0.8em;
   
  }

  .primera-fila, .segunda-fila{
    width: 50%;
    height: 1000px;
    margin-bottom: 5%;
  }


  .tercera-fila{
    display:none;
  }

  .comentario {
    width: 200px;
    height: 120px;
    bottom:50%;
    left: 30%;
  }

  .comentario-fl2{
    width: 200px;
    height: 120px;
  margin-top:17%;
    right: 0;
    left: 20%;
  }

  .tecer-comentario-fl2{
    margin-top: 70%;
  
  }
  .primer-comentario, .tercer-comentario, .segundo-comentario , .segundo-comentario-fl2{
    height:350px;
  }

  .segundo-comentario{
    display: block;
  }

 
.primer-comentario-fl2{
 display: none;
  }
  
  .comentarios p, .comentarios span{
    font-size: 0.9em;

  }

  .bi-chat-left-fill, .bi-chat-right-fill {
    width: 100%;
    height:180px;
    color: #F93EA5;
    position: relative;
  }
  #footer{
    display: none;
  }
  
  #footer-pq {
    background-color: #D9D9D9;
    font-size: 0.9em;
  }
  
  
  .contenedor-footer-pq{
    padding: 10px 0;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
   
  }
  .accordion {
    display: flex;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 0.8em;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    background: none;
    text-decoration: none;
  }
  
  .panel {
    background-color:#D9D9D9;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size:0.8em;
  }
  .panel a {
    line-height: 2;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
    display: block;
  }
  .accordion:after {
    content: url("https://cdn.glitch.global/4573b126-8ae6-4f69-ab76-f66ec21d2080/flecha-correcta%20(1)%203.png?v=1686703348739"); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .redes-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
  }
  .redes-pq {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .redes-pq h4 {
    font-size: 0.8em;
    font-family: "Oswald", sans-serif;
  }
  .logo-pq,
  .redes-pq {
    width: 40%;
  }
  .logo-pq img {
    width: 50%;
  }
  .redes-pq img {
    width: 15%;
  }

}

@media (min-width: 991px) and (max-width: 1100px) {
  .menu li a{
    font-size: 0.9em;
  }
  #menu{
    display: flex;
  }
  .menu-pq{
    display: none;
  }
#footer-pq{
  display: none;
}

#footer-pq {
  display: block;
}
.banner{
  height: 470px;
}

.banner h2{
  font-size: 2.5em;
  margin-right: 15%;
}

.banner p{
  font-size: 1.1em;
  margin-right: 15%;
}

.contenedor-comentarios{
  background-image: url(../img/patron.PNG);
  position: relative;
}

.contenedor-comentarios img{
width: 10%;
position:absolute;

}

.rotate{
  top: 60%;
  left: 60%;
  animation: rotation 2s linear;
}

@keyframes rotation {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(4deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-4deg);
  }
}
 


.rotate2{
  top:25%;
  left:20%;
  animation: rotation2 2s linear;
}

@keyframes rotation2 {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(6deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-6deg);
  }
}

.rotate3{
  top: 90%;
  left: 20%;
  animation: rotation3 2s linear;
}

@keyframes rotation3 {
  0% {
    transform: rotatez(-45deg);
  }
  25%{
    transform: rotatez(4deg);
  }
  50%{
    transform: rotatez(45deg);
  }
 100%{
    transform: rotatez(-4deg);
  }
}

.tercera-fila{
  display: none;
}

.primera-fila, .segunda-fila{
  width: 50%;
}

.comentario, .comentario-fl2 {
  width: 70%;
  height: 180px;
  font-size: 1.1em;
  bottom:60%;
  left: 15%;
}
.bi-chat-left-fill, .bi-chat-right-fill{
  height: 280px;
 
}

.primer-comentario, .tercer-comentario, .segundo-comentario , .segundo-comentario-fl2, .primer-comentario-fl2 , .tecer-comentario-fl2{
  height:450px;
}

#footer-pq, #footer{
  display: none;
}

#footer-mediano{
  display: flex;
  font-size: 1em;
}

#footer-mediano{
  width: 100%;
background-color:#D9D9D9;
color: black;
display: flex;
padding: 2rem 0;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
font-family: "Roboto", sans-serif;
}

#footer-mediano .servicio,#footer-mediano .compras-velancy,#footer-mediano .ayuda{
  width: 30%;
  align-items: top;
  padding: 0 0 0 5em;
  order: 1;
}
.redes a{
     display: flex;
    justify-content:center;
}

#footer-mediano a {
  line-height: 3.5;
  text-decoration: none;
  color: black;
  display: flex;
}
#footer-mediano .redes {
  flex-direction: row;
  justify-content: space-between;
  margin: 1em auto;
  width: 15%;
  order: 3;
}
#footer-mediano .subtitulo{
  display: none;
}
#footer-mediano .logo2{

order: 1;
display: block;
margin: 2em auto;
width: 90%;
}

#footer-mediano .logo2 img{
width: 15%;
}
}

@media (min-width:1101px) and (max-width: 1400px){
  #menu{
    display: flex;
  }
  .menu-pq, #footer-pq , #footer-mediano{
    display: none;
  }
  .banner{
    height: 742px;
  }
  
  .banner h2, .banner p{
    margin-right: 15%;
  }
  .banner h2, .contenido h2{
   font-size: 2.5em;
  }


  .contenedor-comentarios{
    background-image: url(../img/patron.PNG);
    position: relative;
  }
  
  .contenedor-comentarios img{
  width: 10%;
  position:absolute;
  
  }
  
  .rotate{
    top: 80%;
    left: 75%;
    animation: rotation 2s linear;
  }
  
  @keyframes rotation {
    0% {
      transform: rotatez(-45deg);
    }
    25%{
      transform: rotatez(4deg);
    }
    50%{
      transform: rotatez(45deg);
    }
   100%{
      transform: rotatez(-4deg);
    }
  }
   
  
  
  .rotate2{
    top:5%;
    left:45%;
    animation: rotation2 2s linear;
  }
  
  @keyframes rotation2 {
    0% {
      transform: rotatez(-45deg);
    }
    25%{
      transform: rotatez(6deg);
    }
    50%{
      transform: rotatez(45deg);
    }
   100%{
      transform: rotatez(-6deg);
    }
  }
  
  .rotate3{
    top: 80%;
    left: 20%;
    animation: rotation3 2s linear;
  }
  
  @keyframes rotation3 {
    0% {
      transform: rotatez(-45deg);
    }
    25%{
      transform: rotatez(4deg);
    }
    50%{
      transform: rotatez(45deg);
    }
   100%{
      transform: rotatez(-4deg);
    }
  }

  .comentario, .comentario-fl2{
    height: 200px;
    bottom:50%;
  }

  .primera-fila{
    height: 1200px;
  }

  .bi-chat-left-fill, .bi-chat-right-fill {
   position: relative;
}

.bi-chat-left-fill, .bi-chat-right-fill {
  width: 100%;
  height: 304px;
  color: #F93EA5;
}

.primer-comentario, .segundo-comentario, .tercer-comentario {
  height: 579px;
}

.primer-comentario-fl2, .segundo-comentario-fl2, .tecer-comentario-fl2 {
  height:579px;
}
}

@media screen and (min-width:1401px){
  .offcanvas.offcanvas-end {
    top: 10%;
    right:18%;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}
  .contenedor{
    margin: auto;
    max-width: 1400px;
  }

  .menu-pq, #footer-pq, #footer-mediano{
    display: none;
  }
  .banner{
    height: 742px;
  }
  .banner h2{
    font-size: 3em;
    margin-right: 15%;
  }

  .contenedor-comentarios{
    background-image: url(../img/patron.PNG);
    position: relative;
  }
  
  .contenedor-comentarios img{
  width: 8%;
  position:absolute;
  
  }
  
  .rotate{
    top: 90%;
    left: 70%;
    animation: rotation 2s linear;
  }
  .banner p{
    margin-right: 15%;
  }
  
  @keyframes rotation {
    0% {
      transform: rotatez(-45deg);
    }
    25%{
      transform: rotatez(4deg);
    }
    50%{
      transform: rotatez(45deg);
    }
   100%{
      transform: rotatez(-4deg);
    }
  }
   
  
  
  .rotate2{
    top:5%;
    left:45%;
    animation: rotation2 2s linear;
  }
  
  @keyframes rotation2 {
    0% {
      transform: rotatez(-45deg);
    }
    25%{
      transform: rotatez(6deg);
    }
    50%{
      transform: rotatez(45deg);
    }
   100%{
      transform: rotatez(-6deg);
    }
  }
  
  .rotate3{
    top: 90%;
    left: 20%;
    animation: rotation3 2s linear;
  }
  
  @keyframes rotation3 {
    0% {
      transform: rotatez(-45deg);
    }
    25%{
      transform: rotatez(4deg);
    }
    50%{
      transform: rotatez(45deg);
    }
   100%{
      transform: rotatez(-4deg);
    }
  }

 
  .contenedor-comentarios{
    line-height: 2;
  }
  .comentarios{
    width: 85%;
  }

  .comentario, .comentario-fl2 {
    width: 85%;
    height: 219px;
   
}
.comentario-fl2{
  bottom:58%;
}
  .comentario{
    bottom: 58%;
    padding: 5%;
  }

  .comentario, .comentario-fl2{
    height: 200px;
    bottom:54%;
  }

  .primera-fila{
    height: 1200px;
  }

  .bi-chat-left-fill, .bi-chat-right-fill {
   position: relative;
}

.bi-chat-left-fill, .bi-chat-right-fill {
  width: 100%;
  height: 304px;
  color: #F93EA5;
}
  .primer-comentario, .segundo-comentario, .tercer-comentario {
    height: 579px;
  }
  
  .primer-comentario-fl2, .segundo-comentario-fl2, .tecer-comentario-fl2 {
    height:579px;
  }
 
}