@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: rgba(0,0,0,0);
  z-index: 12;
  overflow: visible;
}
::-webkit-scrollbar-thumb {
width: 10px;
background-color: #fc0882;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0,0,0,0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

::-webkit-scrollbar-track {
  background-color: white;
}
.contenedor {
 width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: auto;
  height: 100px;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 1;
  font-size: 0.9em;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.contenedor-menu{
  align-items: center;
  width: 90%;
  margin: auto;
  display: flex;
}
ul,
ol {
  list-style: none;
}

.menu > li {
  float: left;
}

.menu li a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  display: block;
  font-size: 14px;
}

.menu li a:hover {
  background-color: #F93EA5;
  color: white;
  border-radius: 5px;
}

.menu li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.menu li:hover > ul {
  display: block;
}

.menu li ul li {
  position: relative;
}

.menu li ul li ul {
  right: -140px;
  top: 0px;
}

.offcanvas{
  position: fixed;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color:black;
  background-color: white;
 display: none;
 box-shadow: 10px 10px 5px 0 #807680;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}
.offcanvas.offcanvas-end {
  top: 10%;
  right: 8%;
  width: var(--bs-offcanvas-width);
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateX(100%);}

.offcanvas.show:not(.hiding), .offcanvas.showing {
  transform: none;
}
.offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
  visibility: visible;
}

.encabezado-carrito{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.encabezado-carrito button{
  border: none;
  background: none;
  padding: 1rem;
}
.encabezado-carrito h2{
  font-size: 1.5em;
  font-weight: normal;
  padding: 0 1em;
}
.producto-carrito{
  padding-bottom: 1em;
}

.contenedor-carrito{
    flex-grow: 1;
    padding: 1em;
    overflow-y: auto;
}
.boton {
    padding: 8px 16px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    background-color: #F93EA5;
    color: white;
    border: none;
    text-decoration: none;
}
#cerrar{
  cursor: pointer;
}

.icono-carrito img {
  object-fit: contain;
}
.logo{
  width: 20%;
}
.logo img {
  width: 100%;
  height: 100%;
}

.banner {
  background-image: url(../img/banner-envios.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: grid;
  grid-template-columns:0.5fr 1.5fr 2fr  ;
  grid-template-rows: 2fr 0.5fr 2fr;
}
.contenedor-banner{
  grid-column-start: 2;
  grid-row-start: 2;
}
.contenedor-banner h2 {
text-align: right;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 3em;
  margin-bottom: 5%;
}
#contenedor{
  margin-bottom: 3%;
}
.contenedor-banner p{
  font-family: "Roboto", sans-serif;
  text-align: right;
  font-size: 1.2em;
  line-height: 1.5;
}

.banner .boton{
  position: relative;
  top:70%;
  left: 0%;
  background-color: #FF6EBD;
  text-align: left;
  grid-column-start:1 ;
  grid-column-end: 3;
  grid-row-start: 3;
  width: 40%;
  height: 30%;
  border: none;
}
#contenedor .contenido, .paso-a-paso{
  width: 70%;
  margin: auto;
}
.paso-a-paso h4{
  font-family: "Oswald", sans-serif;
  line-height: 4;
  font-weight: normal;
  font-size: 1.2em;
}

.contenido h2{
  margin: 5% 0;
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
  font-weight: normal;
}

.contenido h2 span{
  color: #F93EA5;
}

.contenido p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 2;
}
.contenido ul li{
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 2;
}
.contenido p span{
  font-weight: bold;
}

.contenido ul li{
  list-style-type:disc;
  margin-left: 5%;
}

.fechas-ropa{
  background-color: #CC68B1;
  width: 70%;
  margin: auto;
  display: flex;
}
.fechas-ropa .imagen img{
  width: 80%;
  height: 100%;
}
.fechas-ropa .imagen{
  width: 50%;
  background-image:url(../img/calendario.png);
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.imagen h3{
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  grid-row-start: 2;
  grid-column-start:2 ;
  margin-top: 50%;
  font-size: 1.5em;

}
.contenido h4{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.calendario{
  width: 50%;
  display: flex;
  line-height: 2;
}

.calendario hr{
  border: 1px solid white;
 height: 340px;
  margin: 5% 0%;
}
.prenda{
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
}
.prenda img{
width: 30%;
height: 30px;
}
.prenda a{
  color: white;
  text-decoration: none;
  text-align: center;
  margin-left: 8%;
  font-family: "Roboto", sans-serif;
  
}
.izq , .der{
  margin: auto;
  justify-content: space-around;
  width: 20%;
}
.contenido hr{
  height: 90%;
  margin: 1em 0;
}

[tooltip] {
  position: relative; 
}


[tooltip]::before,
[tooltip]::after {
  text-transform: none; 
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; 
  z-index: 1001; 
}
[tooltip]::after {
  content: attr(tooltip); 
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: white;
  color: black;
  z-index: 1000; 
}


[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}



[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: white;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}



[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}



.accordion {
  display: block;
  margin-top:2em;
  font-family: "Oswald", sans-serif;
  color: black;
  font-size:18px;
  cursor: pointer;
  padding: 18px;
  width: 60%;
  text-align: left;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  align-items:center;
  transition: 0.4s;
  background: none;
}
.panel p{
  font-family: "Roboto", sans-serif;
  line-height: 2;
}
.accordion img{
  width:30px;
  margin:0;
}


.active, .accordion:hover {
  background-color: #E30076;
  color:white;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  width: 60%;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content:url("https://cdn.glitch.global/4573b126-8ae6-4f69-ab76-f66ec21d2080/flecha-correcta%20(1)%203.png?v=1686703348739"); /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.newsletter {
  width: 100%;
  align-items: center;
  padding: 3em 2em;
  text-align: center;
}
.newsletter hr{
  border: #f70e8e 2px solid;
  margin:2% auto;
}
.newsletter h2 {
  font-size: 1.8em;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}
.newsletter p {
  font-family: "Roboto", sans-serif;
  margin: 1% 0;
}
input {
  width: 25%;
  margin: 1em;
  padding: 0.6rem 5rem;
  border: 1px solid black;
}

.newsletter button {
  background: none;
  padding: 0.4rem 1.2rem;
  margin-left: 1rem;
 background-color:  #f70e8e;
 border:#f70e8e 1px solid;
}
.newsletter a {
  text-decoration: none;
 color: white;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}


#footer{
 width: 100%;
background-color:#D9D9D9;
} 

.contenedor-footer .contenido{
  width: 15%;
}
.contenedor-footer {
  width: 90%;
  margin: auto;
  color: black;
  display: flex;
  padding: 3rem 0;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

 .servicio, .compras-velancy, .ayuda{
  width: 15%;
  text-align: left;
}
#footer a {
  line-height: 3.5;
  text-decoration: none;
  color: black;
  display: flex;
 
}
.subtitulo {
  text-align: center;
  margin: 4% 0;
  font-family: "Oswald", sans-serif;
  
}

.redes {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin: auto;
  width: 100%;
}
.redes img {
  margin-top: 1rem;
  width: 70%;
}

.logo2 img {
  width:70%;
  height:70%;
  display: flex;
  margin: auto;
}

/*--------------------------------------------------RESPONSIVE-------------------------------------------------*/

@media screen and (max-width: 500px){
  .menu-pq {
    display: flex;
  }
  nav {
    display: none;
  }
  
  .menu-pq{
    width:100%;
    height:70px;
    display:flex;
    justify-content:space-between;
    padding:35px 5%;
    box-shadow: 0 4px 2px -2px gray;
  }  
  
  .menubtn{
    font-size:25px;
  }
  
  .menu-pq .logo{
    width:25% }
  .sideNav{
    height:100%;
    position:fixed;
    top:0;
    right:0%;
    background-color:white;
    overflow-x:hidden;
    transition:0.3s ease-in;
    width:0%;
    padding-top:60px;
    z-index:1;
    
  }
  .sideNav a {
    padding: 8px 8px 8px 40px;
    display:block;
    font-size:0.8em;
    color:black;
    text-decoration:none;
  }
  .sideNav a button {
  padding:2px 10px;
    border-radius:10px;
    font-size:0.8em;
    color:#E30076;
    border-style:none;
  }
  .sideNav a:hover{
    color:#E30076;
  }
  .sideNav .clodeBtn{
    position:absolute;
    top:25px;
    font-size:0.8em;
    margin-left:100px;
  }
  .offcanvas.offcanvas-end {
    top: 40%;
    right: 30%;
    box-shadow: 6px 0 28px -2px ;
    transform: translateX(100%);}
  .banner{
    height: 300px;
  }

  .banner h2{
    font-size: 1.5em;
  }

  .banner p, .contenido p, .contenido ul li, .fechas-ropa a{
    font-size: 0.7em;
  }
  .contenido h4{
    margin: 5% 0;
    font-size: 0.8em;
  }

  .contenido{
    width: 85%;
  }
  .contenido h2{
    font-size: 1.5em;
  }

  .fechas-ropa{
    width: 85%;
  }

  .fechas-ropa .imagen{
    height: 225px;
  }
  .imagen h3{
    font-size: 1.2em;
    margin-top: 25%;
  }
  .izq, .der{
    width: 30%;
  }

  .prenda{
    height: 60px;

  }
  .fechas-ropa hr{
    height: 90%;
  }

  .paso-a-paso h4{
    font-size: 1.5em;
  }

  .accordion{
    width: 80%;
    margin-top: 1em;
    font-size: 0.7em;
  }
  .newsletter{
    width: 90%;
    margin: auto;
  }
  .newsletter h2{
    font-size: 1.3em;
  }
  .newsletter button {
    padding: 0.6rem 1.2rem;
  }
  .newsletter p{
    font-size: 0.8em;
  }
  
  .newsletter a{
    font-size: 0.8em;
  }
  
  .newsletter hr{
    width: 50%;
  }
  input{
    width: 40%;
    height: 6vh;
    padding:1% ;
  }

  #footer{
    display: none;
  }
  #footer-pq {
    background-color: #D9D9D9;
    font-size: 0.7em;
  }
  
  .contenedor-footer-pq{
    padding: 10px 0;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
   
  }
  .accordion1 {
    display: flex;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 0.8em;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    background: none;
    text-decoration: none;
  }
  
  #footer-pq .panel {
    background-color:#D9D9D9;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size:0.8em;
    padding: 0;
  }
  #footer-pq .panel a {
    line-height: 2;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
    display: block;
  }
  .accordion1:after {
    content: url("https://cdn.glitch.global/4573b126-8ae6-4f69-ab76-f66ec21d2080/flecha-correcta%20(1)%203.png?v=1686703348739"); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .redes-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
  }
  .redes-pq {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .redes-pq h4 {
    font-size: 0.8em;
    font-family: "Oswald", sans-serif;
  }
  .logo-pq,
  .redes-pq {
    width: 40%;
  }
  .logo-pq img {
    width: 50%;
  }
  .redes-pq img {
    width: 15%;
  }
  #footer-mediano{
    display:none;
  }
  
  
  }
@media (min-width: 501px) and (max-width:576px){

.menu-pq {
  display: flex;
}
nav {
  display: none;
}
#footer-mediano{
  display: none;
}

.menu-pq{
  width:100%;
  height:70px;
  display:flex;
  justify-content:space-between;
  padding:35px 5%;
  box-shadow: 0 4px 2px -2px gray;
}  

.menubtn{
  font-size:25px;
}

.menu-pq .logo{
  width:25% }
 .sideNav{
    height:100%;
    position:fixed;
    top:0;
    right:0%;
    background-color:white;
    overflow-x:hidden;
    transition:0.3s ease-in;
    width:0%;
    padding-top:60px;
    z-index:1;
    
  }
 .sideNav .item-menu {
    padding: 8px 8px 8px 40px;
    display:block;
    font-size:0.8em;
    color:black;
    text-decoration:none;
  }
  
  .icono-carrito {
    padding: 8px 8px 8px 40px;
}
  .sideNav a:hover{
    color:#E30076;
  }

  .boton{
    padding: 8px 16px;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    background-color: #F93EA5;
    color: white;
    border: none;
    font-size: 1em;
  }
  .sideNav .clodeBtn{
    position:absolute;
    top:25px;
    font-size:0.8em;
    margin-left:139px;
    text-decoration: none;
    color: black;
  }

  
  .offcanvas.offcanvas-end {
    top: 28%;
    right: 25%;
    box-shadow: 6px 0 28px -2px ;
    transform: translateX(100%);
    box-shadow: 10px 10px 5px 0 #807680;}
  


  .banner {
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:110% 0%;
  }
  
  .banner h2{
    font-size:2em;
  }
  
  .banner p{
    font-size: 0.8em;
  }
  .contenido{
    width: 80%;
  }
  
  .contenido h2{
    font-size: 2em;
  }

  .contenido p{
    font-size: 0.8em;
  }
 .contenido h4{
 
    font-size:1em;
    margin-bottom: 4%;
  
  }

 .contenido ul li{
    font-size: 0.8em;
  }

  .fechas-ropa{
    display: block;
    width: 80%;
  }

  .fechas-ropa .imagen{
    width: 100%;
  }
  .imagen h3{
    margin-top: 40%;
  }

  .calendario{
    width: 100%;
  }

  .calendario hr{
 height: 250px;
 margin-top: 5%;
  }
.paso-a-paso{
  width: 80%;
}
  .paso-a-paso h4{
    font-size: 1.1em;
  }
  .prenda a{
    font-size: 0.8em;
  }

  .accordion{
    width: 100%;
    font-size:0.8em;
    margin-top: 5%;
  }
  .panel{
    width: 100%;
  }

  .panel p{
    font-size: 0.8em;
    flex-wrap: wrap;
  }

  .newsletter{
    width: 90%;
    margin: auto;
  }
  .newsletter h2 {
    font-size: 1.7em;
  }
  
  .newsletter button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9em;
}
  .newsletter p{
    font-size: 0.8em;
  }
  
  #slide_productos{
    margin-bottom: 0;
  }
  
  
  .newsletter hr{
    width: 50%;
  }
  input{
    width: 40%;
    height: 46px;
    padding:1% ;
  }


  #footer{
    display: none;
  }
  #footer-pq {
    background-color: #D9D9D9
  }
  
  .contenedor-footer-pq{
    padding: 10px 0;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
   
  }
  .accordion1 {
    display: flex;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 0.8em;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    background: none;
    text-decoration: none;
  }
  
  #footer-pq .panel {
    background-color:#D9D9D9;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size:0.8em;
    padding: 0;
  }
  #footer-pq .panel a {
    line-height: 2;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
    display: block;
  }
  .accordion1:after {
    content: url("https://cdn.glitch.global/4573b126-8ae6-4f69-ab76-f66ec21d2080/flecha-correcta%20(1)%203.png?v=1686703348739"); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .redes-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
  }
  .redes-pq {
    display: flex;
    align-items: center;
    }
    .redes-pq h4 {
    font-size: 0.8em;
    font-family: "Oswald", sans-serif;
    width: 50%;
    }
    .logo-pq,
    .redes-pq {
    width: 40%;
    }
    .logo-pq img {
    width: 50%;
    }
    .redes-pq img {
    width: 70%;
    }
    .redes-pq a{
    display: flex;
    justify-content: end;
    }

  #footer-mediano{
    display:none;
  }
  
}

/*--------------------------------------------------RESPONSIVE 577PX & 990PX--------------------------------------------------------------------*/

@media (min-width: 577px) and (max-width:990px){
  .menu-pq {
    display: flex;
  }
  nav {
    display: none;
  }
  #footer-mediano{
    display: none;
  }
 
  .menu-pq{
    width:100%;
    height:70px;
    display:flex;
    justify-content:space-between;
    padding:35px 5%;
    box-shadow: 0 4px 2px -2px gray;
  }  
  
  .menubtn{
    font-size:25px;
  }
  
  .menu-pq .logo{
    width:25% }

  .sideNav{
    height:100%;
    position:fixed;
    top:0;
    right:0%;
    background-color:white;
    overflow-x:hidden;
    width:0%;
    padding-top:60px;
    z-index:1;
    transition:0.3s ease-in;
  }
  .sideNav a {
    padding: 8px 8px 8px 40px;
    display:block;
    font-size:0.8em;
    color:black;
    text-decoration:none;
  }
 

  .sideNav .clodeBtn{
    position:absolute;
    top:25px;
    font-size:0.8em;
    margin-left:100px;
  }
  .offcanvas.offcanvas-end {
    top: 50%;
    right: 25%;
    box-shadow: 6px 0 28px -2px ;
    transform: translateX(100%);
    box-shadow: 10px 10px 5px 0 #807680;}
  .logo{
    width: 30%;
  }
  .icono-carrito img{
    width:20%;
  }

  .banner {
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;

  }
  
  .banner h2{
    font-size:2.1em;
    margin-right: 15%;
  }
  
  .banner p{
    font-size: 0.9em;
    margin-right: 15%;
  }
  .banner .boton{
    top:50%;
    height: 50%;
  }
  .contenido{
    width: 80%;
  }
.contenido h2{
  font-size: 2.1em;
}
.contenido p{
  font-size: 0.9em;
}
.contenido h4{
  margin: 5% 0;
}
.fechas-ropa{
  width: 80%;
}
.fecha-ropa .imagen{
  height: 350px;;
}

.calendario {
  display: block;
  margin-top: 5%;
}

.calendario hr{
  display: none;
}
.prenda{
  width: 100%;
  height: 50px;
}
.izq, .der{
  margin:0  1em ;
}
.paso-a-paso{
  width: 80%;
}
.paso-a-paso h4{
  font-size: 2em;
}
.accordion{
  width: 90%;
  font-size: 0.9em;
}

.newsletter {
  width: 100%;
  align-items: center;
  padding-top: 1em;
  text-align: center;
}
hr{
  border: #f70e8e 2px solid;
  margin:2% auto;
}
.newsletter h2 {
  font-size: 1.5em;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}
.newsletter p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  margin: 1% 0;
}
input{
  width: 40%;
  height: 6vh;
  padding:1% ;
}
.newsletter button {
  background: none;
  padding: 0.4rem 1.2rem;
  margin-left: 1rem;
 background-color:  #f70e8e;
 border:#f70e8e 1px solid;
}
.newsletter a {
  text-decoration: none;
 color: white;
 font-size: 1.1em;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

#footer, #footer-mediano{
  display: none;
}
#footer-pq {
  background-color: #D9D9D9
}

.contenedor-footer-pq{
  padding: 10px 0;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
 
}
.accordion1 {
  display: flex;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 0.8em;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
  background: none;
  text-decoration: none;
}

.panel {
  background-color:#D9D9D9;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size:0.8em;
}
.panel a {
  line-height: 2;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
  display: block;
}
.accordion1:after {
  content: url("https://cdn.glitch.global/4573b126-8ae6-4f69-ab76-f66ec21d2080/flecha-correcta%20(1)%203.png?v=1686703348739"); /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.redes-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
.redes-pq {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.redes-pq h4 {
  font-size: 0.8em;
  font-family: "Oswald", sans-serif;
}
.logo-pq,
.redes-pq {
  width: 40%;
}
.logo-pq img {
  width: 50%;
}
.redes-pq img {
  width: 15%;
}


}

@media (min-width: 991px) and (max-width: 1100px){
  .menu li a{
    font-size: 0.9em;
  }

  #menu{
    display: flex;
  }
  .menu-pq{
    display: none;
  }

.banner{
  height: 500px;
}
.banner h2{
  font-size: 2.5em;
  margin-right: 15%;
}

.banner p{
  font-size: 1em;
  margin-right: 15%;
}
.contenido h2{
  font-size: 2.5em;
}

.contenido h4{
  margin-bottom: 5%;
}
.contenido p{
  font-size: 1.1em;
}

.contenido ul li {
  font-size: 1.1em;
}

.panel p{
  font-size: 1.1em;
}

.imagen{
  order: 1;
}
.fechas-ropa{
  width: 70%;
 text-align: right;
}
.fecha-ropa .imagen{
  height: 450px;
}

.calendario {
  display: block;
  margin-top: 15%;
}
.calendario p, .accordion p{
  font-size: 1.1em;
}
.calendario hr{
  display: none;
}
.prenda{
  width: 100%;
  height: 50px;
}
.paso-a-paso h4{
  font-size: 2em;
}
.izq, .der{
  margin:0  30%;
}

.newsletter hr{
  width: 30%;
}
.newsletter button{
  padding: 0.8rem 1.2rem;
}
.newsletter a {
  font-size: 1.1em;
}
input{
  width: 30%;
  height: 50px;
  padding:1% ;
}


.accordion{
  font-size: 1.1em;
}
.newsletter p{
  font-size: 1.1em;
}
#footer, #footer-pq{
  display: none;
}


#footer-mediano{
  display: flex;
  font-size: 1.1em;
}

#footer-mediano{
  width: 100%;
background-color:#D9D9D9;
color: black;
display: flex;
padding: 2rem 0;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
font-family: "Roboto", sans-serif;
font-size: 1em;
}

#footer-mediano .servicio,#footer-mediano .compras-velancy,#footer-mediano .ayuda{
  width: 30%;
  align-items: top;
  padding: 0 0 0 5em;
  order: 1;
}

#footer-mediano a {
  line-height: 3.5;
  text-decoration: none;
  color: black;
  display: flex;
  
}
.redes a{
     display: flex;
    justify-content:center;
}
#footer-mediano .redes {
  flex-direction: row;
  justify-content: space-between;
  margin: 1em auto;
  width: 15%;
  order: 3;
}
#footer-mediano .subtitulo{
  display: none;
}
#footer-mediano .logo2{

order: 1;
display: block;
margin: 2em auto;
width: 90%;
}

#footer-mediano .logo2 img{
width: 15%;
}
}

@media (min-width:1101px) and (max-width: 1400px){
  #menu{
    display: flex;
  }
  .menu-pq, #footer-pq , #footer-mediano{
    display: none;
  }
  .banner{
    height: 742px;
  }
  .banner h2, .banner p{
    margin-right: 15%;
  }
  .banner h2, .contenido h2{
   font-size: 2.5em;
  }

  .paso-a-paso h4{
    font-size: 2em;
  }
  .banner p, .contenido p, .accordion{
    font-size: 1.1em;
  }
  .contenido{
    width: 80%;
  }
  .contenido h4{
    margin: 1em 0;
  }
  .fechas-ropa{
    width: 70%;
  }

  .fechas-ropa .imagen{
    height: 440px;
  }
.paso-a-paso{
  width: 70%;
}
.newsletter h2{
    font-size: 2em;
  }
.newsletter p{
  font-size: 1.1em;
}
}

@media screen and (min-width:1401px){

  
  .contenedor{
    margin: auto;
    max-width: 1400px;
  }

  .banner{
    height: 742px;
  }
  #menu{
    display: flex;
  }
  .menu-pq, #footer-pq , #footer-mediano{
    display: none;
  }
.banner{
  background-size: contain;
}

.banner h2{
  font-size: 3em;
  margin-right: 5%;
}
.contenido h2, .paso-a-paso h4{
  font-size: 2.5em;
}

.newsletter h2{
  font-size: 2.2em;
}

.contenido h4{
  font-size: 1.2em;
  margin: 5% 0;
}
.newsletter a{
  font-size: 1.3em;
 }


.fechas-ropa hr{
 height: 90%;
}


.prenda{
  height: 175px;
}

.prenda img {
  width: 20%;
  height: 20%;
}
 .izq, .der{
  width: 30%;
 }

 .offcanvas.offcanvas-end {
    top: 10%;
    right:18%;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}

input{
  height: 48px;
}
 .newsletter button{
  margin-top: 2%;
  padding: 0.6rem 1.2rem;
}
}